input:focus{
    border: 0px;
    outline: none;
    border-bottom: solid black 2px;
}

input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="number"]::placeholder {
    color: white;
}

form, .selections {
    scrollbar-width: none;
}

select:focus {
    appearance: none;
    background-color: rgba(243, 243, 243,0)
}
